<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zijie.treader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <meta-data
        android:name="android.max_aspect"
        android:value="ratio_float" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".AtyBookList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AtyMark"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".filechooser.FileChooserActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>